<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <style>
        #homeButton{
            font-family: Arial;
            font-size : 14px;
            color: #FFFFFF; width: 290;
            border-radius: 2px;
            height: 40px;
            background-color: darkcyan;
            outline: none;
            border: 0.01em solid black;
        }
    </style>
</head>
<body>
<form action="/v1">
    <h1>Successfully logged out</h1>
    <button type="submit" id="homeButton">
        Home Page</button>
</form>
</body>
</html>